main {
    background-color: #f1f5f8;
    height: 100%;
    overflow: hidden;
}
section {
    display: flex;
    height: calc(100vh - 80px);
    overflow: hidden;
    #main-content {
        width: calc(100vw - 220px);
        height: 100%;
        overflow: auto;
    }
}
