main {
    background-color: #f5f7fb;
    height: 100%;
    overflow: hidden;
}
section {
    height: calc(100vh - 80px);
    overflow: hidden;
    #main-content {
        height: 100%;
        overflow: auto;
        padding: 30px 5%;
    }
}
