<div class="brandConainer">
  <div class="row">
    <div class="input-group col-sm-4">
      <input type="text" class="form-control" [(ngModel)]="brandIdSearchStr" placeholder="Brand ID" aria-label="Brand ID" aria-describedby="brand-search">
      <div class="input-group-append">
        <button class="btn btn-info" type="button" [disabled]="!brandIdSearchStr" id="brand-search" (click)="getBrandDertails()">Search</button>
      </div>
      <button class="btn btn-info btn-sm" type="button" routerLink="/add-brand" style="margin-left: 20px;">Add New</button>
    </div>
  </div>
  <div class="noResults" [hidden]="!showNoResultsMsg">No resultd found. Try some other brand ID. {{noResults}}</div>
  <div [hidden]="(!brandDetails)">
  <div class="row">
    <div class="col-sm-6 text-right brandFnBtn">
      <button class="btn btn-info btn-sm" type="button" routerLink="/edit-brand">Edit</button>
      <button class="btn btn-danger btn-sm" type="button">Delete</button>
    </div>
  </div>

  <div class="brand-details" *ngIf="brandDetails">
    <div class="row">
      <div class="col-sm-6 details-block">
        <div class="row">
          <div class="col-sm-12 title">BRAND DETAILS</div>
          <div class="col-sm-6 form-group">
              <label>Brand ID</label>
              <div class="fieldValue">{{brandDetails.brandId}}</div>
          </div>
          <div class="col-sm-6 form-group">
              <label>Brand name</label>
              <div class="fieldValue">{{brandDetails.brandName}}</div>
          </div>
          <div class="col-sm-6 form-group">
              <label>Status</label>
              <div class="fieldValue">{{brandDetails.status}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 details-block" *ngIf="brandDetails && brandDetails.brandAttributes && brandDetails.brandAttributes.contentType">
        <div class="row">
          <div class="col-sm-12 title">BRAND ATTRIBUTES</div>
          <div class="col-sm-12">
            <div class="row" *ngFor="let attributes of brandDetails.brandAttributes.contentType;">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>Attribute Name</label>
                      <div class="fieldValue">{{attributes.name}}</div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>Return Path</label>
                      <div class="fieldValue">{{attributes.emailInfo.returnPath}}</div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="sub-title">FROM EMAIL INFO</div>
                  <div class="form-group">
                      <label>Email</label>
                      <div class="fieldValue">{{attributes.emailInfo.from.email}}</div>
                  </div>
                  <div class="form-group">
                      <label>Name</label>
                      <div class="fieldValue">{{attributes.emailInfo.from.name}}</div>
                  </div>
                  <div class="form-group">
                      <label>Click Tracking</label>
                      <div class="fieldValue">{{attributes.emailInfo.options.clickTracking ? "Yes": "No"}}</div>
                  </div>
                  <div class="form-group">
                      <label>Open Tracking</label>
                      <div class="fieldValue">{{attributes.emailInfo.options.openTracking ? "Yes": "No"}}</div>
                  </div>
                  <div class="form-group">
                      <label>Retry Period</label>
                      <div class="fieldValue">{{attributes.emailInfo.options.retryPeriod}}</div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="sub-title">TO EMAIL INFO</div>
                    <div class="form-group">
                        <label>Email</label>
                        <div class="fieldValue">{{attributes.emailInfo.replyTo.email}}</div>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <div class="fieldValue">{{attributes.emailInfo.replyTo.name}}</div>
                    </div>
                </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 details-block">
        <div class="row">
          <div class="col-sm-6" *ngIf="brandDetails && brandDetails.brandMatchingAttributes && brandDetails.brandMatchingAttributes.address">
            <div class="title">Address</div>
            <div class="form-group">
                <label>City</label>
                <div class="fieldValue">{{brandDetails.brandMatchingAttributes.address.city}}</div>
            </div>
            <div class="form-group">
                <label>Line 1</label>
                <div class="fieldValue">{{brandDetails.brandMatchingAttributes.address.line1}}</div>
            </div>
            <div class="form-group">
                <label>Line 2</label>
                <div class="fieldValue">{{brandDetails.brandMatchingAttributes.address.line2}}</div>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="brandDetails && brandDetails.additionalAttributes">
              <div class="title">Additional ATTRIBUTES</div>
              <div class="form-group">
                  <label>Org Id</label>
                  <div class="fieldValue">{{brandDetails.additionalAttributes.emOrgId}}</div>
              </div>
              <div class="form-group">
                  <label>Source System Brand ID</label>
                  <div class="fieldValue">{{brandDetails.additionalAttributes.sourceSystemBrandId}}</div>
              </div>
              <div class="form-group">
                  <label>Source System ID</label>
                  <div class="fieldValue">{{brandDetails.additionalAttributes.sourceSystemId}}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
